body{
  background-color: #C8D0D2;
}


.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: white;
  /* flattening is not performed , so children maintain their position in 3d space ..
  which means that we preserve our 3d animation so that way things
  that were in the front can now go in the back & things in the back can now go to the front */
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y , 0)) translateY(var(--translate-y , 0));
  transition: 200ms;
  height: 150px;
  width: 150px;
}
.card:hover{
  --translate-y : -2.5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);

}

.card.flip{
  --rotate-y : 180deg;
}

.card .front,
.card .back{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
.card .front{
  left: 0;
}
.card .back{
  transform: rotateY(180deg);
}
.flashcard-options{
  margin-top: .5rem;
}
.flashcard-option{
  margin-top: .25rem;
  color: #555;
  font-size: .8rem;
}
.flashcard-option:first-child{
  margin-top: 0;
}

